@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Roboto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-tertiary: "Roboto", sans-serif;
}

body {
  background-color: #ffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.body-font {
  font-family: var(--font-primary);
}

.montserrat-font {
  font-family: var(--font-secondary);
}

.roboto-font {
  font-family: var(--font-tertiary);
}
.clip-polygon {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.clip-diagonal {
  /* clip-path: polygon(0 0, 100% 64%, 100% 100%, 0% 100%); */
  clip-path: polygon(
    32% 20%,
    63% 35%,
    100% 44%,
    100% 100%,
    0 100%,
    0% 60%,
    0 0
  );
}

/* .clip-image {
  clip-path: polygon(62% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
} */
